.book_preview{
    width: 60px;
    height: 90px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.preview-book-cover{
    width: 40px !important;
    height: 20px !important;
}