/*  Feed Structure  */

.comment-area{
    overflow-y: scroll;
    max-height: 360px;
    padding-right: 10px;
}
.feed-picture{
    width: 100%;
    height: 100%;
 }

 .feed-logo{
	width:36px;
	height:36px;
 }
 .feed-commenter{
	 width: 40px;
	 height: 40px;
 }
 .card-footer > input
{
    display: none;
}
input#file-input{
    display: none;
}
.card-footer i
{
    width: 20px;
    cursor: pointer;
}