/**
** Custom Stylesheet different from the main bootstrap CSS
**
**/
body{
    font-size: 15px;
    font-weight: 500;
    color: #000 !important;
}
/**** colors selection for this template ***/

a,
.text-primary{
    color: #032F8F !important;
    text-decoration: none !important;
}
.text-danger{
color: red !important;
}
.text-success{
color: seagreen !important;
}
.btn-primary, .bg-primary{
    background-color: #032F8F !important;
    border: 0 !important;
}
.btn-danger, .bg-danger{
    background-color: red !important;
    border: 0 !important;
}
.btn-success, .bg-success{
    background-color: seagreen !important;
    border: 0 !important;
}

/*****CUSTOM LOGO******/
.app-header.navbar .navbar-brand{
    background-image: url("../img/tm-logo.png");
    background-size: 136px auto !important;
    
}
/*******   Styling for activitity *********/

.btn, 
button,
 a, 
 input[type="text"],
 input[type="password"],
 input[type="date"],
 input[type="email"], 
 input[type="search"],
 textarea, select{
    outline: none !important;
    box-shadow: none !important;
}
.sidebar .nav-link, .sidebar a{
    color: #fff !important;
}
.sidebar .nav-link:hover{
    background-color: #032F8F !important;
    color: #fff !important;
}
.sidebar .nav-dropdown.open{
    background-color: #29363D !important;
}
.sidebar{
    background: #000 !important;
}
.sidebar .nav-dropdown.open > .nav-dropdown-items{
    background:#1d1d1df3 !important;
}
.btn{
    border:none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.form-control{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.modal{
    backdrop-filter: blur(3px) !important;
}
.alert{
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
}
.form-control-sm, input[type="search"]{
    border:1px solid #c2cfd6 !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.border-title{
    background: white;
    margin-top: -24px !important;
    position: absolute;
}
/* *****Form uploader*********/
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
@media (min-width: 576px){
.modal-dialog-100 {
 max-width: 1000px !important;
}
}

/***** Mobile Device-***/
@media(max-width:640px){
    .container-fluid{
        padding-right: 10px !important;
        padding-left:10px !important ;
    }
}