
.events{
	border: 1.2px solid #000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	text-align: center;
	padding-bottom: 04px;
}
.events p{
	margin-bottom: 0px;
}
@media(min-width: 920px){
.navbar-toggler {
    position: fixed !important;
    margin-left: 170px !important;
}
}
@media(max-width:786px ){
.navbar-toggler {
    position: fixed !important ;
    margin-left: 0px !important;
}
}
.events-scroll{
	position: relative;
	overflow-y: scroll;
	height: 320px;
}