select.form-control:not([size]):not([multiple]) {
    border-radius: 4px !important;
    }

	.form-control-help{
		padding: 10px;
		margin-top: 10px;
		border-radius: 	4px;
		-webkit-border-radius: 	4px;
		-moz-border-radius: 	4px;
		-ms-border-radius: 	4px;
		-o-border-radius: 	4px;
}


.question-main{
	font-size: 16px;
}
.question-btn{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid
}
.question-btn:hover{
	cursor: default;
}
.question-text{
	font-size: 18px;
	font-weight: 500;
	margin-left: 10px;
}
.answer-indicator{
	font-size: 26px;
	padding: 4px;
	margin: 4px;
}
.circle{
	content: '';
	background:#e4e5e6;
	padding: 0px 8px;
	margin: 0px 10px;
	border-radius: 50%;

}
.attempt-view{
	clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	padding: 14px;
	content: '';
	background: #e4e5e6;
	font-weight: bold;
	font-size: 16px;
	line-height: 2.8;
	margin:4px; 
}
.exam-widget-footer{
	line-height: 12px;
}
.exam-widget-inner{
	margin-bottom: 6px;
}
.exam-widget{
	padding:6px 4px;
}
.exam-chapter a{
	color: #321fdb  !important;
	text-transform: uppercase;
	font-weight: bold;
}
.exam-chapter a:hover{
	text-decoration: none !important;
}
.btn-finish{
	width: 100%;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.05em;
}