.container-fluid{
	min-height: 640px !important;
}


.navbar{
	padding: 10px !important;
	background: #ffffff;
	margin-bottom: 20px;
}
.navbar-topic{
	font-size: 16px !important;
	text-transform: uppercase;
	font-weight: bold;
	margin: 15px 10px;
}
.nav-avatar{
	width: 40px;
	height: 40px;
	border-radius: 50% !important;
}
.nav-avatar-name{
	margin: 15px 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px !important;
}

.question-main{
	font-size: 16px;
}
.question-btn{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #ffffff;
	border: 1px solid;
}

.question-btn:hover{
	background: #16d740;
	color: #ffffff;
	border: 1px solid #16d740;
	outline: none;
}
.question-text{
	font-size: 18px;
	font-weight: 500;
	margin-left: 10px;
	margin-top: 0rem;
}
.question-text-option{
	font-size: 18px;
	font-weight: 500;
	margin-right: 2rem;
	margin-top: 0rem;
}
.circle{
	content: '';
	background:#e4e5e6;
	padding: 0px 8px;
	margin: 0px 10px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}
.attempt-view{
	clip-path: polygon(0% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	padding: 14px;
	content: '';
	background: #e4e5e6;
	font-weight: bold;
	font-size: 16px;
	line-height: 2.8;
	margin:4px; 
}
.exam-widget-footer{
	line-height: 12px;
}
.exam-widget-inner{
	margin-bottom: 6px;
}
.exam-widget{
	padding:6px 4px;
}
.exam-chapter a{
	color: #321fdb  !important;
	text-transform: uppercase;
	font-weight: bold;
}
.exam-chapter a:hover{
	text-decoration: none !important;
}
.btn-finish{
	width: 100%;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.05em;
}
.checked{
	color: orange;
}

.footer{
	box-shadow: none !important;
	margin-bottom: 0px !important;
	background-color:#ffffff;
	font-size: bold;
	padding: 20px !important;
}
.footer a{
	color: #321fdb;
}
.footer a:hover{
	color: #3d3d3d;
	text-decoration: none;
}