.profile-photo-my-profile{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: absolute;
    margin-top: 8%;
    margin-left: -98%;
    border: 2px solid #fff;
}
.cover-photo-my-profile{
    width: 100%;
    height: 160px;
}
.card-header1{
    padding: 0;
    border-bottom: #fff;
}