
.login{
    margin-top: 10%;
    box-shadow:0 1px 1px 0 rgba(0,28,36,0.5);
}
body{
    background-color: #F2F3F3;
}
input[type="text"],
input[type="password"]{
    background-color: #efefef;
    outline: none !important;
    box-shadow: none !important;
}
.btn{
    outline: none !important;
    box-shadow: none !important;
}
.login-logo{
    width: 50%;
    margin-top: -10%;
    height: auto;
    font-size: 14px;
    text-align: center;
    margin-left: 25%;
}
.registration-logo{
    width: 180px;
    margin-left: 30%;
    margin-top: -8%
}
.organization-logo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
@media(min-width:640px){
    .registration{
        margin-top: 2%;
        box-shadow:0 1px 1px 0 rgba(0,28,36,0.5);
    }
}