 
 .list-wrapper .remove {
     cursor: pointer;
     font-size: 1.438rem;
     font-weight: 600;
     width: 1.25rem;
     height: 1.25rem;
     line-height: 20px;
     text-align: center
 }

 .ml-auto,
 .list-wrapper .remove,
 .mx-auto {
     margin-left: auto !important
 }

 .mdi-close-circle-outline:before {
     content: "\F15A"
 }

 .list-wrapper ul li {
     font-size: .9375rem;
     padding: .4rem 0;
     border-bottom: 1px solid #f3f3f3
 }

 .mdi:before {
     font-family: FontAwesome;
     content: "\f00d";
     display: inline-block;
     padding-right: 3px;
     vertical-align: middle;
     font-size: .756em;
     color: #405189
 }

 .list-wrapper ul {
     padding: 0;
     text-align: left;
     list-style: none;
     margin-bottom: 0
 }

 .flex-column-reverse {
     flex-direction: column-reverse !important
 }

 .d-flex,
 .loader-demo-box,
 .distribution-chart-legend .distribution-chart,
 .distribution-chart-legend .distribution-chart .item,
 .list-wrapper ul li,
 .email-wrapper .mail-sidebar .menu-bar .profile-list-item a,
 .email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user,
 .email-wrapper .mail-list-container .mail-list .details,
 .email-wrapper .message-body .attachments-sections ul li .thumb,
 .email-wrapper .message-body .attachments-sections ul li .details .buttons,
 .lightGallery .image-tile .demo-gallery-poster,
 .swal2-modal,
 .navbar .navbar-menu-wrapper .navbar-nav,
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile,
 .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
     display: flex !important
 }