#home .container{
    height: 360px;

}
body{
    font-family: 'Inter';
    font-size: 15px;
}
.bg-primary{
    background: #186DC6 !important;
}

#home .jumbotron{
  background: #FFC107;
}
.header-welcome{
    font-family: 'Satisfy', cursive;
}
.header-title{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 48px;
 font-weight: bold;
 text-transform: uppercase;
 color: #000000;
}
.bg-dark{
    background-color: black !important;
}
.header-image{
    width: auto;
    height: 280px;
    right: -10px;
    margin-top: -50px;
    zoom: 2;
    position: absolute;
}
.header-top-back{
    background-color: #186DC6;
    position: absolute;
    width: 100%;
    height: 138%;
    border-radius: 284% 233% 301% 266%;
    -webkit-border-radius: 284% 233% 301% 266%;
    -moz-border-radius: 284% 233% 301% 266%;
    -ms-border-radius: 284% 233% 301% 266%;
    -o-border-radius: 284% 233% 301% 266%;
}

#features p{
   font-size: 14px !important;
}
.features h2{
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 2px;
    font-weight: bold;
}
.home-features{
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.technology-img{
  width: auto;
  height: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

.team-photo{
    margin: 0;
    margin-bottom: 20px;
    height:200px;
    width: 100%;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
@media(max-width:768px){
    .header-image{
       display: none;
    }
    .header-top-back{
      display: none;
    }
    .header-title{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
       }
}